#root,
.odliczanie
{
    height: 100%;
}
.odliczanie{
    background-color: whitesmoke;
    max-width: 500px;
    margin: auto;
    width: 100%;
}
.odliczanie{
    margin: 10px 0;
    text-align: center;
    background-color: rgb(122, 122, 122);
    border-radius: 20px;
    padding: 10px;
}
